<% include partials/header %>

<div class="container-fluid">

    <div class="page-header">
        <h1><%= album.title %> <small><%= album.artist.title %></small></h1>
    </div>

    <div class="list-group">
        <% album.songs.forEach( function( song ) { %>

            <div class="list-group-item">
                <% for (var fileData in song.file_data) { %>
                    <% if (typeof song[fileData] !== 'function') { %>
                        <span class="badge"><a href="<%= song.file_data[fileData].link %>"><%= fileData %></a></span>
                    <% } %>
                <% } %>

                <h4 class="list-group-item-heading"><%= song.title %></h4>
                <p class="list-group-item-text">
                    <% if (song.artist_id.length !== 0 && song.artist_id != '[]') { %>
                        <% song.artist_id.forEach( function( artist ) { %>
                            <%= artist.title %>
                        <% }); %>
                    <% } %>
                </p>
            </div>

        <% }); %>
    </div>

</div>

<% include partials/footer %>