<% include partials/header %>

<div class="container-fluid">

    <div class="page-header">
        <h1><%= album.title %> <small><%= album.artist.title %></small></h1>
    </div>

    <div class="list-group">
        <% album.songs.forEach( function( song ) { %>

            <div class="list-group-item" style="min-height: 55px;">

                <div class="dropdown pull-right">
                  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" style="padding: 6px 8px;">
                      <span class="glyphicon glyphicon-cloud-download"></span> Download
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                    <% for (var fileData in song.files) { %>
                      <li role="presentation">
                          <a role="menuitem" tabindex="-1" href="<%= song.files[fileData].link %>?force_download">
                              <span class="glyphicon glyphicon-floppy-disk"></span> <%= fileData %> bit quality
                          </a>
                      </li>
                      <li role="presentation" class="divider"></li>
                    <% } %>
                  </ul>
                </div>

                <h4 class="list-group-item-heading">
                    <span class="glyphicon glyphicon-play"></span> <%= song.title %>
                </h4>
                <p class="list-group-item-text">
                    <%= song.artist_name %>
                </p>

            </div>

        <% }); %>
    </div>

    <div class="page-header">
        <h2>Related Albums</h2>
    </div>

<div class="list-group">
    <% albums.forEach( function( album ){ %>
        <a href="/album/<%= album.key_id %>/<%= album.artist.slug %>/<%= album.slug %>" class="list-group-item">
            <span class="glyphicon glyphicon-hdd"></span> <%= album.title %> <small> - <%= album.artist_name %></small>
        </a>
    <% }); %>
    </div>

</div>

<% include partials/footer %>