<% include partials/header %>

<div class="container-fluid">

    <div class="page-header">
        <% if (isSingle) { %>
            <h1>All Singles</h1>
        <% } else { %>
            <h1>All Albums</h1>
        <% } %>
    </div>

    <div class="list-group">
        <% albums.forEach( function( album ){ %>
        <a href="/album/<%= album.id %>/<%= album.artist.slug %>/<%= album.slug %>" class="list-group-item">
            <span class="badge">Songs: <%= album.trackCount %></span>
            <span class="glyphicon glyphicon-hdd pull-left" style="margin-right: 7px;"></span>
            <h4 class="list-group-item-heading"><%= album.title %></h4>
            <p class="list-group-item-text"><%= album.artist.title %></p>
        </a>
        <% }); %>
    </div>

    <% if (pagination.pageCount > 1) { %>

        <ul class="pagination">
            <% if (pagination.currentPage > 1) { %>
                <li><a href="?page=1">&laquo;</a></li>
            <% } %>
            <% var i = 1;
            if (pagination.currentPage > 3) {
                i = +pagination.currentPage - 2;
            } %>
            <% if (i !== 1) { %>
                <li class="disabled"><a href="#">...</a></li>
            <% } %>
            <% for (i; i<=pagination.pageCount; i++) { %>
                <% if (pagination.currentPage == i) { %>
                    <li class="active"><span><%= i %> <span class="sr-only">(current)</span></span></li>
                <% } else { %>
                    <li><a href="?page=<%= i %>"><%= i %></a></li>
                <% } %>
                <% if (i == (+pagination.currentPage + 2)) { %>
                    <li class="disabled"><a href="#">...</a></li>
                <% break; } %>
            <% } %>
            <% if (pagination.currentPage != pagination.pageCount) { %>
                <li><a href="?page=<%= pagination.pageCount %>">&raquo;</a></li>
            <% } %>
        </ul>

    <% } %>

</div>

<% include partials/footer %>