<% include partials/header %>

<div class="container-fluid">

    <div class="page-header">
        <h1>Genres</h1>
    </div>

    <div class="list-group">
    <% genres.forEach( function( genre ){ %>
        <a href="/albums/<%= genre.id %>/<%= genre.slug %>" class="list-group-item">
            <%= genre.title %>
        </a>
    <% }); %>
    </div>

    <div class="page-header">
        <h1>Latest Albums <small><a href="/albums">View All</a></small></h1>
    </div>

    <div class="list-group">
    <% albums.forEach( function( album ){ %>
        <a href="/album/<%= album.id %>/<%= album.artist.slug %>/<%= album.slug %>" class="list-group-item">
            <%= album.title %> <small> - <%= album.artist_name %></small>
        </a>
    <% }); %>
    </div>

</div>

<% include partials/footer %>